/* Estilos generales */
body { /*elemento propio del HTML*/
    font-family: Arial, sans-serif;/*primero arial, y si por alguna razon no funciona sans-serif*/
    /*investigar tipos de fuentes para los browsers*/
    margin: 0;
    padding: 0;
}

/* Estilos para el menu */
.menu { /*los puntos son para clases*/
    background-color: #333; /*colors in hexadecimal*/
    padding: 10px;
}

.menu ul { /*todos los ul que tengan o esten dentro de elementos que tengan la clase*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline; /*to configure the layout*/
    margin-right: 10px; /*can be in px and %*/
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

/* Estilos para el menu activo */
.menu ul li a:hover { /*hover is an actions that occur when you pass your mouse on there*/
    text-decoration: underline;
}

/* Estilos para el contenido */
.contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc; /* px is the rounded tips level*/
}

/* Estilos para el articulo */
.articulo {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
}

footer /*.piePagina */{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed; /*always can see it*/
    bottom: 0;
    width: 100px;
}

/* Estilos para dispositivos moviles */
@media screen and (max-width: 600px) { /*this is a media query*/
    /*screen indicates that the styles inside curly braces apply when the media is a screen*/
    /*the styles only apply when the screen resolution is less than 600px*/
    .contenedor {
        padding: 10px;
    }

    .articulo {
        padding: 5px;
    }
}